@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap");

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
html,
body {
    font-family: "Noto Sans Thai", sans-serif !important;
}

.note-frame {
    border-radius: 0.375rem !important;
}

.text-orange {
    color: #fd7e14 !important;
}

.card {
    box-shadow: 2px 2px 0.5rem 0px rgba(204, 204, 204.48);
}

.fade {
    animation: fadeInAnimation ease 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* #mainSection,
#sidebarMenu {
    animation: fadeInAnimation ease 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

.select2-container--bootstrap-5 .select2-selection {
    border-radius: 0.375rem !important;
}

.fr-logo,
#fr-logo,
.filepond--credits {
    display: none;
}

input:read-only.readonly {
    background-color: #ededed !important;
}

table {
    border-collapse: collapse;
    overflow: hidden;
}

#dataTable > thead > tr.filters > th:not(.search) > input.form-control {
    display: none;
}

.note-editor {
    width: 100% !important;
}

table tbody tr td {
    vertical-align: middle !important;
}

.material-icons-round {
    vertical-align: -5px !important;
}

.status-icon::before {
    font-size: 35px !important;
}

.material-icons-round {
    font-size: 16px ;
}
