@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap");

/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */
html,
body,
.filepond--root {
    font-family: "Noto Sans Thai", sans-serif !important;
}

.font-logger {
    font-family: "Chakra Petch", sans-serif !important;
}

main {
    font-size: 14px !important;
}

.note-frame {
    border-radius: 0.375rem !important;
}

.text-orange {
    color: #fd7e14 !important;
}

/* .fade {
    animation: fadeInAnimation ease 1000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

/* #mainSection,
#sidebarMenu {
    animation: fadeInAnimation ease 1500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */

.select2-container--bootstrap-5 .select2-selection {
    border-radius: 0.375rem !important;
}

.fr-logo,
#fr-logo,
.filepond--credits {
    display: none;
}

input:read-only.readonly {
    background-color: #ededed !important;
}

table {
    border-collapse: collapse;
    overflow: hidden;
}

#dataTable > thead > tr.filters > th:not(.search) > input.form-control {
    display: none;
}

.note-editor {
    width: 100% !important;
}

table tbody tr td {
    vertical-align: middle !important;
}

.material-icons-round {
    vertical-align: -5px !important;
}

.status-icon::before {
    font-size: 35px !important;
}

.material-icons-round {
    font-size: 16px;
}
