@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap");

html,
body {
    font-family: "Noto Sans Thai", sans-serif !important;
}

.text-orange {
    color: #fd7e14!important;
}

.card {
    box-shadow: 2px 2px 0.5rem 0px rgba(204,204,204.48);
}
