.material-symbols-rounded {
    font-variation-settings: "FILL" 0 "wght" 500, "GRAD" 0, "opsz" 24 !important;
}

.text-orange {
    color: #fd7e14 !important;
}

td.td-center {
    text-align: center !important;
    vertical-align: middle !important;
}

::placeholder {
    color: grey !important;
    opacity: 0.5 !important;
}

::-ms-input-placeholder {
    color: grey !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.file-pond {
    margin-bottom: 1.5rem !important;
}

.is-invalid ~ .select2 .select2-selection__rendered {
    border: 1px solid red;
    border-radius: var(--bs-border-radius) !important;
}

.select2 {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--focus {
    border-color: #a2c1f6;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(69, 130, 236, 0.25);
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 31px !important;
}

.select2-selection,
.select2-dropdown {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.select2-container--default .select2-selection--single {
    border-radius: var(--bs-border-radius) !important;
}

/* .select2-container .select2-results__option, */
.select2-container .select2-selection .select2-selection__rendered {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
}

.select2-container .select2-selection {
    height: auto !important;
}

.select2-container--default {
    border-radius: var(--bs-border-radius) !important;
}

.select2-selection__arrow {
    top: 10px !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0.375rem;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-light);
    --bs-tooltip-color: var(--bs-white);
}

.pointer {
    cursor: pointer;
}
